.edit-form {
}

.edit-form__section-title {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;

    margin-bottom: 24px;
}

.edit-form__section {
    width: 100%;
}

.edit-form__section:not(:first-child) {
    margin-top: 18px;
}

.edit-form__field {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.edit-form__field-name {
    font-size: 16px;
    width: 100px;
}

.edit-form__field-name::after {
    content: ':';
}

.edit-form__field-input {
    flex-grow: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-form__field-input--spaced > *:not(:last-child) {
    margin-right: 6px;
}