.edit-form__field--save-load {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 90%;
}

.edit-form__field--save-load > *:not(:last-child) {
    margin-bottom: 16px;
}

.edit-form__field--save-load .text-input__input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;

    text-align: left;
}

.edit-form__download-button {
    width: 100%;
    height: 24px;
    background-color: white;

    font-size: 16px;

    border: 1px solid #EEEEEE;
    border-radius: 24px;

    cursor: pointer;
}

.edit-form__download-button:focus {
    outline: none;
}

.edit-form__download-button:hover {
    background-color: #1EA7FD;
    color: white;
}

.edit-form__share-url {
    display: flex;
    align-items: center;
}

.edit-form__share-url span {
    flex: 0 0 auto;
    margin-right: 12px;
}

.edit-form__share-url input {
    flex-grow: 1;
    height: 16px;
}

.edit-form__loading-spinner {
    font-size: 10px;
    margin: 0 auto 16px auto;
    text-indent: -9999em;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: #1EA7FD;
    background: linear-gradient(to right, #1EA7FD 10%, rgba(42,194,255, 0) 42%);

    position: relative;
    animation: spin 1.4s infinite linear;
    transform: translateZ(0);
}

.edit-form__loading-spinner:before {
    width: 50%;
    height: 50%;
    background: #1EA7FD;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.edit-form__loading-spinner:after {
    background: #EEEEEE;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
