.cell {
    flex: 0 0 auto;
    position: relative;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}

.cell--u {
    padding-top: 1px;
}

.cell--r {
    padding-right: 1px;
}

.cell--d {
    padding-bottom: 1px;
}

.cell--l {
    padding-left: 1px;
}

.cell--U {
    padding-top: 3px;
}

.cell--R {
    padding-right: 3px;
}

.cell--D {
    padding-bottom: 3px;
}

.cell--L {
    padding-left: 3px;
}

.cell__inner {
    position: relative;
    box-sizing: border-box;
}

.cell__value--user, .cell__pm--user, .cell__candidates--user {
    color: #1D6AE5;
}

.cell__value, .cell__candidates {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell__inner-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cell__inner-border--U {
    border-top: 1px dashed black;
}

.cell__inner-border--R {
    border-right: 1px dashed black;
}

.cell__inner-border--D {
    border-bottom: 1px dashed black;
}

.cell__inner-border--L {
    border-left: 1px dashed black;
}

.cell__highlight {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cell__cage-value {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0 1px;
    background-color: white;
}

.cell__border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cell__border--u {
    border-top: 1px solid black;
}

.cell__border--r {
    border-right: 1px solid black;
}

.cell__border--d {
    border-bottom: 1px solid black;
}

.cell__border--l {
    border-left: 1px solid black;
}

.cell__border--U {
    border-top: 3px solid black;
}

.cell__border--R {
    border-right: 3px solid black;
}

.cell__border--D {
    border-bottom: 3px solid black;
}

.cell__border--L {
    border-left: 3px solid black;
}

.cell__pm {
    position: absolute;
}

.cell__pm--user {
    color: #1D6AE5;
}

.cell__pm--ul {
    left: 10%;
    top: 5%;
}

.cell__pm--ur {
    right: 10%;
    top: 5%;
}

.cell__pm--dl {
    left: 10%;
    bottom: 5%;
}

.cell__pm--dr {
    right: 10%;
    bottom: 5%;
}

.cell__pm--uu {
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

.cell__pm--dd {
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.cell__pm--ll {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.cell__pm--rr {
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}