.cell {
    position: relative;
    box-sizing: border-box;
    z-index: 3;
}

.cell__inner {
    position: relative;
    box-sizing: border-box;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cell__inner--border-U {
    border-top: 1px dashed black;
}

.cell__inner--border-R {
    border-right: 1px dashed black;
}

.cell__inner--border-D {
    border-bottom: 1px dashed black;
}

.cell__inner--border-L {
    border-left: 1px dashed black;
}

.cell__value {
    font-size: 29pt;
}

.cell__cage-value {
    position: absolute;
    z-index: 3;

    top: 0;
    left: 0;

    padding: 0 1px;
    background-color: white;
}

.cell__candidates, .cell__pm {
    font-size: 9pt;
}

.cell--border-u {
    border-top: 1px solid black;
}

.cell--border-r {
    border-right: 1px solid black;
}

.cell--border-d {
    border-bottom: 1px solid black;
}

.cell--border-l {
    border-left: 1px solid black;
}

.cell--border-U {
    border-top: 3px solid black;
}

.cell--border-R {
    border-right: 3px solid black;
}

.cell--border-D {
    border-bottom: 3px solid black;
}

.cell--border-L {
    border-left: 3px solid black;
}

.cell__pm {
    position: absolute;
}

.cell__pm--ul {
    left: 10%;
    top: 5%;
}

.cell__pm--ur {
    right: 10%;
    top: 5%;
}

.cell__pm--dl {
    left: 10%;
    bottom: 5%;
}

.cell__pm--dr {
    right: 10%;
    bottom: 5%;
}

.cell__pm--uu {
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}

.cell__pm--dd {
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.cell__pm--ll {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.cell__pm--rr {
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}