.grid {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-family: Tahoma, Verdana, sans-serif;
}

.grid__row {
    display: flex;
    align-items: stretch;
}