.shapetext--underlay {
    z-index: 0;
}

.line, .arrow-head {
    z-index: 1;
}

.cell__inner-border {
    z-index: 2;
}

.cell__border {
    z-index: 3;
}

.shapetext--overlay {
    z-index: 4;
}

.cell__highlight {
    z-index: 5;
}

.cell__cage-value, .cell__value, .cell__candidates, .cell__pm {
    z-index: 6;
}

