.color-picker {
    display: flex;
    align-items: stretch;

    width: 140px;
}

.color-picker__main-buttons {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.color-picker__button {
    width: 16px;
    height: 16px;
    
    border: 1px solid black;
    padding: 0;
    margin: 2px;

    cursor: pointer;
}

.color-picker__button--none {
    flex: 0 0 auto;
    width: 34px;
    height: 36px;

    background: repeating-linear-gradient(45deg, #CFCFCF, #CFCFCF 5px, #EEEEEE 5px, #EEEEEE 10px);

    font-weight: bold;
    font-size: 16px;
}

.color-picker__button:focus {
    outline: none;
}

.color-picker__button--selected, .color-picker__button--selected:focus {
    border-color: gold;
}