.too-small {
    background-color: #1EA7FD;
    color: white;

    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.too-small__heading {
    font-size: 28px;
    margin-top: 16px;
}

.too-small__body {
    font-size: 24px;
    margin-top: 48px;
}

.app {
    height: 100vh;

    display: flex;
    align-items: stretch;
}

.app__puzzle {
    position: relative;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.app__puzzle .tabs {
    position: absolute;
    top: 30px;
    right: 30px;
}

.app__edit-panel {
    width: 350px;
    padding: 8px;
    background-color: #EEEEEE;

    flex: 0 0 auto;
}

.loading {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F7F7F7;
}

.loading__text {
    margin-top: 24px;
    font-size: 48px;
}

.loading__spinner {
    font-size: 10px;
    margin: auto auto;

    width: 300px;
    height: 300px;
    border-radius: 50%;

    background: #1EA7FD;
    background: linear-gradient(to right, #1EA7FD 10%, rgba(42,194,255, 0) 42%);

    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    animation: spin 1.4s infinite linear;
    transform: translateZ(0);
}

.loading__spinner:before {
    width: 50%;
    height: 50%;
    background: #1EA7FD;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loading__spinner:after {
    background: #F7F7F7;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
