.app {
    height: 100vh;

    display: flex;
    align-items: stretch;
}

.app__puzzle {
    position: relative;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.app__puzzle .tabs {
    position: absolute;
    top: 50px;
    right: 50px;
}

.app__edit-panel {
    width: 350px;
    padding: 8px;
    background-color: #EEEEEE;

    flex: 0 0 auto;
}